<p id="notice"><%= notice %></p>

<h1>Rides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <th>Nausea Rating</th>
      <th>Happiness Rating</th>
      <th>Min Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
